.header{
    padding: 30px 30px;
    background-color: rgb(1, 8, 48);
}
.nama h1{
    color: cornsilk;
}

hr {
    border-bottom: 10px solid rgb(243, 243, 243);
}

.tentang{
    padding-top: 20px ;
    min-height: 400px;
    background-color: rgb(95, 132, 255);
}

.form{
    color: floralwhite;
    min-height: 400px;
    padding: 30px 30px;
    background-color: rgb(1, 8, 48);
}